/*Edit this with you YT video to see if u can get it to the top of the page */

.details ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }


  .profile-img1{
    height: 45vh;
    margin: auto;
    display: row;

  }

  .profile-img2{
    height: 45vh;
    margin: left;
    display: row;

  }

  #sectionclass2{ /*This is the important part */
    height: 45vh;
    margin: autp;
    display: row;
  }

  .images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }